@media print {
    @page {
        size: A4 portrait;
        display: !noimportant;
    }

    .noprint {
        display: none;
    }

    .print {
        display: block;
    }

    #kb4it-datatable {
    }

    #kb4it-datatable_wrapper {
        display: none;
    }

    h1, h2, h3, h4, h5 {
      page-break-after: avoid;
    }
}
