/* KB4IT.css custom stylesheet based on Asciidoctor default stylesheet */
/* Asciidoctor default stylesheet | MIT License | http://asciidoctor.org */

/*
address, dl, fieldset, figure, ol, p, ul {
    margin: 0 0 00px 0;
}
*/

/*
pre {
    font: .875rem/1.5 Consolas,monaco,monospace;
    color: #000;
    overflow: auto;
    padding: 10px;
    border: 1px solid #b3b0b0;
    border-radius: 3px;
    background: #ffec8b;
    padding: 20px;
    margin: 10px;
}*/

body {
    overflow-y: scroll; /* Show vertical scrollbar */
}

    #kb4it-page-title {
        display: none;  
    }
    
pre {
    padding: 10px;
    overflow: auto;
    margin: 10px;
}

table.month{
        border-collapse: separate;
            border-spacing: 3px;
}

table.month{
    font-family: monospace;
    border-collapse: separate;
    border-spacing: 3px;
}

table.month tbody tr th {
    background-color: lightgray;
    border: 1px solid gray;
}

table#kb4it-datatable {
    font-size: smaller;
}

#noprint { display: block; }
#print { display: none; }

.admonitionblock { border: 3px solid black; }

.uk-alert-warning { 
                    background-color: orange; 
                    color: black;
                }

.uk-alert-primary { 
                    background-color: lightblue; 
                    color: black;
                }

.uk-alert-caution { 
                    background-color: purple; 
                    color: white;
                }

.uk-alert-danger {
                    background-color: red;
                    color: white;
                }

.uk-alert-note { 
                    background-color: yellow; 
                    color: black;
                }

.content pre{
    background: black;
    color: lightgreen;
}

