/* KB4IT.css custom stylesheet based on Asciidoctor default stylesheet */
/* Asciidoctor default stylesheet | MIT License | http://asciidoctor.org */

/*
address, dl, fieldset, figure, ol, p, ul {
    margin: 0 0 00px 0;
}
*/

/*
pre {
    font: .875rem/1.5 Consolas,monaco,monospace;
    color: #000;
    overflow: auto;
    padding: 10px;
    border: 1px solid #b3b0b0;
    border-radius: 3px;
    background: #ffec8b;
    padding: 20px;
    margin: 10px;
}*/

body {
    overflow-y: scroll; /* Show vertical scrollbar */
}

pre {
    padding: 15px;
    overflow: auto;
    margin: 10px 0; /* Space around the div */
    border: 3px solid black;
}

table.month{
    border-collapse: separate;
    border-spacing: 3px;
}

table.month{
    font-family: monospace;
    border-collapse: separate;
    border-spacing: 3px;
}

table.month tbody tr th {
    background-color: lightgray;
    border: 1px solid gray;
}

table#kb4it-datatable {
    font-size: smaller;
}

.admonitionblock {
    border: 3px solid black;
}

.uk-alert-warning {
    background-color: orange;
    color: black;
}

.uk-alert-primary {
    background-color: lightblue;
    color: black;
}

.uk-alert-caution {
    background-color: purple;
    color: white;
}

.uk-alert-danger {
    background-color: red;
    color: white;
}

.uk-alert-note {
    background-color: yellow;
    color: black;
}

.content pre{
    background: black;
    color: lightgreen;
}

#kb4it-page-title {
    display: inline;
    font: 18px Arial, Helvetica,"Lucida Grande", serif;
    color: #000;
    padding-top: 2em;
}


.admonitionblock.note {
    background-color: #ffffba; /* Light gray background */
    color: black;
    padding: 15px; /* Add padding */
    font-family: Arial, sans-serif; /* Font style */
    margin: 10px 0; /* Space around the div */
  }

.admonitionblock.tip {
    background-color:  #baffc9; /* Light gray background */
    color: black;
    padding: 15px; /* Add padding */
    font-family: Arial, sans-serif; /* Font style */
    margin: 10px 0; /* Space around the div */
  }

.admonitionblock.important {
    background-color: #bae1ff; /* Light gray background */
    color: black;
    padding: 15px; /* Add padding */
    font-family: Arial, sans-serif; /* Font style */
    margin: 10px 0; /* Space around the div */
  }

.admonitionblock.caution {
    background-color: #ffb3ba;
    color: black;
    padding: 15px; /* Add padding */
    font-family: Arial, sans-serif; /* Font style */
    margin: 10px 0; /* Space around the div */
  }

.admonitionblock.warning {
    background-color: lightorange;
    color: black;
    padding: 15px; /* Add padding */
    font-family: Arial, sans-serif; /* Font style */
    margin: 10px 0; /* Space around the div */
  }
