body {
    background-color: #f8f8f8;
    padding-top: 40px;
}
.blog-container {
    max-width: 1200px;
    margin: 0 auto;
}
.post-card {
    background: white;
    border-radius: 8px;
    border: 1px solid transparent;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.post-card:hover {
    border: 1px solid black;
}
.post-meta {
    color: #666;
    font-size: 0.9rem;
}
.post-tags {
    margin-top: 15px;
}

.tag {
    background-color: whitesmoke;
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 0.8rem;
    margin-right: 5px;
    border: 1px solid transparent;
}

.tag:hover {
    border: 1px solid black;
}


.tag a:link {
    text-decoration: none;
}

.category {
    color: #1e87f0;
    font-weight: 500;
}
.sidebar {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    padding: 20px;
    position: sticky;
    top: 40px;
}

.sidebar-title {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

tr.month-row th {
    padding: 7px;
    background-color: lightgray;
    margin: 0;
}
