/* Custom stylesheet for techdoc theme and derivatives */

pre {
    padding: 10px;
    overflow: auto;
    margin: 10px;
}


.uk-h5, h5 {
    font-size: 16px;
    line-height: 1.4;
    font-variant: petite-caps;
}
